<%- include('partials/head') %>
<section class="panel narrow">
  <h1>Choose new password</h1>
  <form method="post" class="form">
    <label>Password <input name="password" type="password" minlength="10" required></label>
    <button class="primary">Update password</button>
  </form>
</section>
<%- include('partials/foot') %>
